<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @ice_cream.name %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @ice_cream.description %>
</p>

<p>
  <strong>Foto:</strong>
  <%= image_tag(@ice_cream.picture_url, :width=>100) if @ice_cream.picture.present? %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @ice_cream.price %>
</p>

<%= link_to 'Editar', edit_ice_cream_path(@ice_cream) %> |
<%= link_to 'Regresar', ice_creams_path %>
