<p id="notice"><%= notice %></p>

<h1>Listing Helados</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th>Picture</th>
      <th>Precio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @helados.each do |helado| %>
      <tr>
        <td><%= helado.Nombre %></td>
        <td><%= helado.Descripcion %></td>
        <td><%= helado.Picture %></td>
        <td><%= helado.Precio %></td>
        <td><%= link_to 'Show', helado %></td>
        <td><%= link_to 'Edit', edit_helado_path(helado) %></td>
        <td><%= link_to 'Destroy', helado, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Helado', new_helado_path %>
